

#landingpage-home{

  background: no-repeat center center fixed; 

  background-color: #e9e9e9;

/*  background-color: #eb6100;*/

/*  opacity: 50%;*/

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;



  height: 100%;

}



#frontpage{

 /* display: flex;

  flex-direction: column;*/

  height: 100%;



}



#logo {

font-family: 'Josefin Slab';

padding: 40px 0px 0px 0px;

text-align: center;

font-size: 80px;

color: #eb6100;

text-transform: lowercase;

}



#home-ipad{

width: auto;

padding-top: 50px;

display: block;

margin-left: auto;

margin-right: auto;

margin-bottom: 0px;

}



#home-col-1{

  width: 66%;

  float:left;

  background-color: #e9e9e9;

}



#home-col-2{

  width:33%;

  float:left;

  flex: 1;

  background-color: #e9e9e9;

  padding-top: 100px;

  height: auto;

}



/*.home-content{

  float: left;

}*/





#home-phrase {

font-family: 'Josefin Slab';

font-size: 50px;

position: relative;

top: 5%;

padding: 0px 150px 0px 100px;

text-align: center;

color: dark gray;

/*color: #5E2605;*/

line-height: 1.3;



}



button.home-button{

  font-family: 'Josefin Slab';

  font-size: 25px;

  color: white;

  width: 300px;

  border-radius: 10px;

}



button.button-link{

  padding: 10px;

}





/*table.home-content {

  width: 100%;

  background:#e9e9e9;

  margin-bottom: 0px;

  border: solid 1px black;

  display: block;

  margin-top: 5%;

  margin-left: auto;

  margin-right: auto;

}*/

/*#product-preview{

  font-family: 'Josefin Slab',serif;

  font-size: 50px;

  color: white;

  text-align: center

}*/

/*

#product-preview a{

  color: white;

  font-family: 'Josefin Slab', serif;

  font-size: 30px;

}

*/





#product-header{

  font-family: 'Josefin Slab', serif;

  font-size: 50px;

  color:white;

  text-align: center;

  padding-top: 20px;

  padding-bottom: 10px;

}



.navbar {

  font-family: 'Josefin Slab', serif;

  font-size: 2em;

  font-weight: bolder;

  width: 100%;

  margin: 0;

  padding: 0;

  /*height: 60px;*/

  border: 0;

  display: block;

  text-align: center;

  overflow:hidden;

  vertical-align:middle;

}



#homepage-navbar {

  padding: 0px;

}



#navbar{

  padding:0;

}



.navtext{

  font-size: 32px;

}



.navbar li {

  display: inline;

  text-align: center;    

  padding: 0px 60px 0px 60px;

  margin-top: 30px;

  font-size: 30px;

}



.navbar a{

  width:100px;

}



.navbar ul{

  border:0;

  font-size: 25px;

  

}



a:link {

  color: #eb6100; 

  text-decoration: none; 

  transition: color 0.2s linear;

}



a:visited {

  color: gray;

}  

a:hover {

  color: #cc6633;

}

a:active {

  color: white;

} 



#landingpage-product{

  background-color:#cc6633;s

}



#landingpage-team{

}



#landingpage-about{

   background-color: #e9e9e9;

}





#about{

  padding: 20px 100px 50px 100px;

}



#about-desc{

  font-family: 'Josefin Slab';

  font-style: bolder;

  font-size: 35px;

  padding-top: 50px;

}





#about-us{

  font-family: 'Josefin Slab';

  font-style: bolder;

  font-size: 3.5em;

  text-align: center;

  padding: 20px 20px 20px 20px;

  color:#eb6100;

}



#about-us-desc{

  font-family: 'Josefin Slab';

  font-size: 50px;

  line-height: 1.3;

  text-align: center;

  padding: 10px 50px 10px 50px;

}





button{

  background-color: #003399;

  text-transform: uppercase;

  outline: none;

}



button:active {

  background-color: #d8d8d8;

}



a.button-link.active{

  background-color: #d8d8d8;

}





#cloud-image{

  display: block;

  margin-left: auto;

  margin-right:auto;

}





#images {

  width: 200px;

  height: 300px;

  overflow: hidden;

  position: relative;

  margin: 20px auto;

}







